/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


#loginFormContainer {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.errorMessage{
     color: rgb(244,67,54);
      font-size: 12px;
      line-height: 14px;
      padding-top: 5px;
      text-align:center;

}

.mainButtons {
  display: flex;
  width: 50%;
  md-card {
    display: block;
    width: 45%;
    min-height: 347px;
    md-card-content{
          padding-top: 0px;
          padding-bottom: 0px;
          display: block;
    }
  }
}

.mainContent{
  display: flex;
}



.mainTeams{
  width: 30%;
}


.mainTeams > md-list > md-list-item{
  background-color: #f76a65;
  border-style: double;
  border-color: white;
}

.mainTeams > md-list > md-list-item:hover{
  background-color: #ECFAFB;
}

.teamSelected {
  background-color: #B2EBFF !important;
  border-radius: 2px; 
  }


@media screen and (max-width: 768px) {
    .mainButtons {
      width: 100%;
    }

    .mainButtons md-card {
     width: 45%;
     text-align: center;
     min-height: 0px;
     md-card-content .md-title{
      font-size: 12px;
     }

    }    

    .mainTeams{
      width: 100%;
    }

    .mainButtons md-card md-card-content{
      padding: 0px;

    }

    .mainButtons md-card md-card-content p {
      display: none;
    }

    .mainContent{
      display: block;
    }



}